.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
    left: 0;
    top: 0;
    z-index: 99;
    opacity: .7;
    cursor: pointer;
}

.SettingPopup {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    padding:var(--ml-size) var(--m-size);
    background-color: var(--bg-secondary);
    max-width: 500px;
    width: 90%;
    border-radius: 5px;
    
    form {
        width: 100%;
        
        button {
            width: 100%;
        }
    }
}